.logo {
    background-image: url('/zbase/assets/zivsluck/img/zivsluck.png');
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.img-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:5px;
}


@media (min-width: 320px) and (max-width: 1000px) {
	.logo {
		margin:0px auto;
	}
	.createForm{
		width:100%;text-align: center;
	}
}